* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1.title, .container {
    text-align: center;
}
h1.title {
    margin-top: 10px;
    margin-bottom: 35px;
}
.container {
    width: 250px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
}
#sconto, #prezzo {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
#sconto {
    margin-bottom: 15px;
}
#prezzo {
    display: block;
    color: red;
    font-weight: 600;
}
.caption {
    margin: 0;
    padding-bottom: 1px;
    text-transform: uppercase;
    text-align: left;
}
.success {
    color: green;
    font-weight: 600;
}
.failed {
    font-weight: 600;
    color: gray;
}